<%- model_class = Election -%>
<div class="page-header">
  <h1>
    <%= @election.title %> Election Results
    <small>Votes: <%= @total_votes %></small>
  </h1>
</div>

<% unless @election.description.blank? %>
<div class="alert alert-success" role="alert">
  <%= @election.description %>
</div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Candidate</th>
      <th>Votes</th>
    </tr>
  </thead>
  <tbody>
    <% @tally.each do |candidate, count| %>
      <% name = @election.send("candidate#{candidate}") rescue "Moot Votes" %>
      <% unless name.blank? %>
      <tr>
        <td class="col-md-4"><%= name %></td>
        <td>
          <%= count %>
          <small>( <%= ((count / @total_votes.to_f) * 100).round(2) %>% )</small>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
