<%- model_class = Vote -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:election_id) %></th>
      <th><%= model_class.human_attribute_name(:choice0) %></th>
      <th><%= model_class.human_attribute_name(:choice1) %></th>
      <th><%= model_class.human_attribute_name(:choice2) %></th>
      <th><%= model_class.human_attribute_name(:choice3) %></th>
      <th><%= model_class.human_attribute_name(:choice4) %></th>
      <th><%= model_class.human_attribute_name(:choice5) %></th>
      <th><%= model_class.human_attribute_name(:choice6) %></th>
      <th><%= model_class.human_attribute_name(:choice7) %></th>
      <th><%= model_class.human_attribute_name(:choice8) %></th>
      <th><%= model_class.human_attribute_name(:slug) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= link_to vote.id, vote_path(vote) %></td>
        <td><%= vote.election_id %></td>
        <td><%= vote.choice0 %></td>
        <td><%= vote.choice1 %></td>
        <td><%= vote.choice2 %></td>
        <td><%= vote.choice3 %></td>
        <td><%= vote.choice4 %></td>
        <td><%= vote.choice5 %></td>
        <td><%= vote.choice6 %></td>
        <td><%= vote.choice7 %></td>
        <td><%= vote.choice8 %></td>
        <td><%= vote.slug %></td>
        <td><%=l vote.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      vote_path(vote), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vote_path(vote), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      vote_path(vote),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_vote_path,
            :class => 'btn btn-primary' %>
