<!DOCTYPE html>
<html>
  <head>
    <title>Rankchoice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% flash.each do |type, message| %>
        <br>
        <div class="alert alert-info">
          <a class="close" data-dismiss="alert" href="#">&times</a>
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
